In [1]:
import pandas as pd
import numpy as np

In [2]:
sales = pd.read_csv('sales.csv', index_col = 0)

In [3]:
sales

        Mon  Tue  Wed   Thu  Fri
Steven   34   27   15   NaN   33
Mike     45    9   74  87.0   12
Andi     17   33   54   8.0   29
Paul     87   67   27  45.0    7

In [9]:
sales.min(numeric_only=True, axis=1)

Steven    15.0
Mike       9.0
Andi       8.0
Paul       7.0
dtype: float64

In [10]:
sales.max(numeric_only=True, axis=1)

Steven    34.0
Mike      87.0
Andi      54.0
Paul      87.0
dtype: float64

In [ ]:
def range(series):
    return series.max() - series.min()

In [11]:
sales.apply(range, axis=1)

Steven    19.0
Mike      78.0
Andi      46.0
Paul      80.0
dtype: float64

In [7]:
sales.apply(lambda series: series.max() - series.min(), axis=1)

Steven    19.0
Mike      78.0
Andi      46.0
Paul      80.0
dtype: float64